.container-collab
{
    background-image: url('./images/collab.png');
    background-size:cover;
    width: 98%;
    height: 315px;
    border-radius: 50px;
    margin: 1%;
}
.content
{
    padding-top: 7%;
    text-align: center;
    gap:5px;
    letter-spacing: 1px;
}
.content h1
{
    font-weight: lighter;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}
.content img
{
    position: relative;
    padding-right: 10px;
}
a
{
    text-decoration: none;
}
.collabimage
{
    display: flex;
    justify-content: center;
   align-items: center;
}

@media screen  and (max-width:1045px){
    .content h1
    {
        padding-top: 8%;
    }
    
}