.filter-bar
{
    width: 80%;
    min-height: 20px;
    max-height: fit-content;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 3%;
    align-items: center;
    text-align: center;
    background-color: rgb(254, 254, 254);
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    color: rgb(176, 176, 176);
}
.filter-heading
{
    height: 30px;
}
.filter-button-input
{
    /* color: black; */
    width: 90%;
    height: 25px;
    /* margin-left: 5%; */
    margin-bottom: 2%;
    /* margin-top: 3%; */
    font-size: 12px;
    align-items: center;
    text-align: center;
    background-color: rgb(254, 254, 254);
    border-radius: 5px;
    border: 1px solid  rgb(176, 176, 176);;
}
.filter-bar .filter-buttons .filter-button-input:hover
{
background-color: rgba(185, 185, 185, 0.609);
}