.background
{
    align-items: center;
    position: relative;
    justify-content: center;
    display: flex;
    max-width: 100%;
    height: 600px;
    background-image: url('./images/featuresbackground.png');
    overflow: hidden;
}
.features-heading
{
    position: absolute;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    left: 20px;
    padding: 5%;
}
.carousel
{
    /* display: flex; */
    /* margin-left: 12%; */
    padding-top: 10%;
    height: 400px;
    width: 90%;
    justify-content:left;
    /* align-items: center; */
}
.card 
{
    margin-left: 100px;
    /* box-sizing: border-box; */
    text-align: center;
    background-color: rgb(251, 252, 252);
    width: 270px;
    height: 330px;
    font-family: Arial, Helvetica, sans-serif;
    color: #85868c;
    padding: 0 10px;
    border-radius: 30px;
    border: 1px solid  #85868c98;
}
.card img
{
    width: 150px;
    height: 150px;
}
.card h1
{
    padding-top: 10%;
    color: #23262F;
    font-weight: lighter;
}
.card p
{
    font-size: 12px;
}

@media screen  and (max-width:768px){
    .carousel
    {
        margin-top: 10%;
        margin-left: 8%;
    }
    
}
