.container-blog
{
    background-image: url('./images/blogbackground.png');
    background-size:cover;
    width: 100%;
    height: fit-content;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;

}
.blog-heading
{
    /* margin: 2%; */
    margin-left: 7%;
    margin-top: 7%;
    font-size: 40px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.content-blog
{
    text-align: center;
    padding-top: 5%;
    gap: 50px;
} 
.content1
{
    display: flex;
    padding: 1% 5%;
    font-family: Arial, Helvetica, sans-serif;
}
.content1 p
{
    padding-top: 5%;
    text-align: left;
    padding-left: 12%;
    font-size: 23px;
}
a
{
    text-decoration: none;
}
.readmore
{
    text-align: center;
    width: fit-content;
    height: 30px;
    font-size: 18px;
}
.right
{
    padding-left: unset;
    padding-right: 5%;
}
.hidden
{
    opacity: 0;
    transition: all 1s;
}
.show
{
    opacity: 1;
}