.container-collaboration
{
    width: 100%;
    height: fit-content;
}
.background-section
{
    display: flex;
}
.filter-section
{
    width: 20%;
    max-height: fit-content;
    background-color: #ffce46;
}
.main-section
{
    margin: 2%;
    padding: 2%;
    width: 84%;
    display: flex;
    flex-direction: column;
}
.collaboration-topsection
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px 1px  #000000bf;
}
.collaboration-heading
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: light;
    color: #000000bf;
}
.collaboration-description
{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000bf;
    margin-top:  2%;
    margin-bottom:2%;
}
.searchbar
{
    width: 90%;
    height: 20px;
    border-radius: 15px;
    background-color: antiquewhite;
    border: 2px solid  #000000;
    padding: 3px;
}
.card-section
{
    width: 100%;
    margin-left: 5%;
}
Brandcard
{
    width: 100px;
    height: 200px;
    margin: 10px;
}
.filter-section-heading
{
    margin-left: 8%;
}