.vertical-timeline-element-title
{
    font-size: 25px;
    font-weight: 400;
}
.how-container
{
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;

}

.vertical-timeline-element
{
    align-content: center;
}
.how-heading
{
    margin-bottom: 3%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.how-image
{
    /* margin: 5%; */
    margin-top: 20px;
    /* margin-left: 7%; */
    max-width: 100%;
    width: 280px;
    height: 250px;
}
.how-heading h2
{
    font-weight: 400;
}
